@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --clr-nav-grey-50: #656266;
    --clr-nav-grey-100: #616161;
    --clr-nav-grey-200: #322F33;
    --clr-nav-grey-300: #1C181D;
    --clr-font-light: #E3E3E3;
    --clr-font-mid: #616161;
    --clr-font-dark: #475467;
    --clr-stroke-50: #EBEBEB;
    --clr-stroke-100: hsl(0,0%,93%); /*#000000 7% opacity*/
    --clr-stroke-200: hsl(0,0%,80%); /*#FFFFFF 20% opacity*/
    --clr-state-hover: #F7F7F7;
    --clr-state-pressed: #F0F0F0;
    --clr-state-focused: #005BD3;
    --clr-plain-white: #FFFFFF;
    --clr-plain-background: #F1F1F1;
    --font-family: 'Inter', sans-serif;
    --transition: 0.3s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

button {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: #000000;
}

/* MOBILE VIEW */
body {
    background-color: var(--clr-plain-background);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: var(--font-family);
    margin: 0vw;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-nav-grey-300);
    align-items: center;
    padding: 4vw 4vw 2vw 4vw;
    justify-content: space-between;
}

.logo-btn {
    margin: 0vw 2vw 0vw 0vw;
    padding: 0vw;
    width: 10vw;
    height: 10vw;
    background-color: inherit;
    background-image: url(https://crushingit.tech/hackathon-assets/shopify-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.search-icon {
    position: absolute;
    margin: 2.5vw 3vw 0vw 3vw;
}

.search-bar {
    font-family: var(--font-family);
    background: var(--clr-nav-grey-200) url(https://crushingit.tech/hackathon-assets/icon-search.svg) no-repeat 3vw center;
    background-size: 4vw;
    border: 2px solid var(--clr-stroke-200);
    border-radius: 2vw;
    color: var(--clr-font-light);
    font-size: 1em;
    font-weight: 500;
    padding: 2vw 2vw 2vw 10vw;
    width: 54vw;
}

.search-bar::placeholder {
    color: var(--clr-font-mid);
    font-weight: 500;
}

.search-bar:active, .search-bar:focus {
    border: 2px solid var(--clr-plain-white);
}

.notification-and-profile-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notification-btn {
    background-color: inherit;
    border: none;
    padding: 2vw;
    border-radius: 2.5vw;
    margin: 0vw 1vw;
}

.notification-btn svg {
    width: 6vw;
    height: 6vw;
}

.notification-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 84vw;
    margin: 6vw 4vw 0vw 4vw;
    padding: 4vw;
    left: 0vw;
    border: 1px solid var(--clr-stroke-100);
    background-color: var(--clr-plain-white);
    border-radius: 4vw;
    display: none;
}

.notification-header {
    width: 84vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 600;
    margin: 2vw 0vw 4vw 0vw;
    align-items: center;
}

.notification-header svg {
    margin: 0vw 0vw 0vw 4vw;
    height: 6vw;
    width: 6vw;
}

.notification-body {
    background-color: var(--clr-plain-background);
    width: 76vw;
    text-align: center;
    font-size: 1.085em;
    font-weight: 600;
    padding: 4vw;
}


/* OPEN NOTIFICATION PANEL START*/
.open .notification-btn {
    background-color: var(--clr-nav-grey-200);
}

.open .notification-contents {
    display: flex;
}
/* OPEN NOTIFICATION PANEL END */


.profile-btn {
    padding: 0vw;
    border: none;
    font-family: var(--font-family);
    border: 2px solid var(--clr-font-dark);
    padding: 2vw;
    background-color: rgba(54, 251, 161, 1);
    border-radius: 2vw;
    color: hsl(145, 92%, 23%);
    margin: 0vw 0vw 0vw 1vw;
}

.profile-btn:focus {
    border: 2px solid var(--clr-state-focused);
}

.long-name {
    display: none;
}

.short-name {
    font-weight: 500;
}

.profile-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 6vw 4vw 0vw 16vw;
    left: 0vw;
    border: 1px solid var(--clr-stroke-100);
    background-color: var(--clr-plain-white);
    border-radius: 4vw;
    font-size: 1.085em;
    display: none;
}

.profile-content-top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--clr-stroke-100);
}

.profile-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
    background-color: var(--clr-plain-background);
    border-radius: 1vw;
    align-items: center;
    border-radius: 3vw;
}

.dc-and-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dc {
    background-color: rgba(54, 251, 161, 1);
    border-radius: 2vw;
    color: hsl(145, 92%, 23%);
    padding: 2vw;
    margin: 1.5vw 3vw;
}

.davii {
    font-weight: 600;
}

.profile-name svg {
    width: 8vw;
    height: 8vw;
    margin: 0vw 2vw 0vw 0vw;
} 

.profile-label-pfp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5vw 3vw;
}

.profile-label-pfp svg {
    width: 7vw;
    height: 7vw;
    margin: 0vw 2vw 0vw 0vw;
}

.profile-content-middle {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--clr-stroke-100);
}

.profile-content-middle a {
    margin: 2vw 0vw 2vw 3vw;
}

.profile-content-bottom {
    display: flex;
    flex-direction: column;
}

.name-and-email {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 4vw 0vw 0vw 3vw;
}

.email {
    font-size: 12px;
    margin: 1vw 0vw 2vw 3vw;
    color: var(--clr-font-mid);
    text-decoration: none
}

.bottom-label {
    margin: 2vw 0vw 3vw 3vw;
}


/* OPEN PROFILE PANEL START*/
.open .profile-contents {
    display: flex;
}
/* OPEN PROFILE PANEL END */


.extend {
    display: flex;
    flex-direction: row;
    margin: 8vw 0vw;
    padding: 4vw;
    background-color: var(--clr-nav-grey-300);
    color: var(--clr-plain-white);
    font-size: 1.085em;
    font-weight: 500; 
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.6;
}

.extend-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plan-btn {
    margin: 4vw 0vw 0vw 0vw;
    font-weight: 500;
    padding: 2vw 3vw;
    border-radius: 1.5vw;
    border: none;
    background-color: var(--clr-plain-background);
    color: var(--clr-font-dark);
    border: 1px solid var(--clr-stroke-200);
    box-shadow: 0px 1px var(--clr-nav-grey-200);
}

.close-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vw;
    background-color: inherit;
    border: none;
    color: var(--clr-nav-grey-300);
}

.close-btn svg {
    height: 6vw;
    width: 6vw;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 4vw 2vw 2vw 2vw;
    background-color: var(--clr-plain-white);
    border: 1px solid var(--clr-stroke-200);
}

.main-header {
    display: flex;
    flex-direction: column;
    padding: 0vw 2vw
}

.setup-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    font-weight: 600;
    font-size: 1.17em;
    align-items: center;
    padding: 0vw 0vw 1vw 0vw;
    background-color: inherit;
    border: none;
}

.direction-icons svg {
    width: 6vw;
    height: 6vw;
}

.up {
    display: block;
}

.down {
    display: none;
}

.main-header-text {
    font-size: 1.085em;
    color: var(--clr-font-dark)
}

.progress {
    font-size: 1.085em;
    color: var(--clr-font-dark);
    padding: 4vw 0vw 1vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.progress-bar {
    height: 1.25vw;
    width: 20vw;
    background-color: var(--clr-stroke-50);
    margin: 0vw 0vw 0vw 4vw;
    border-radius: 0.75vw;
    transition: var(--transition);
}

.progress-bar-complete {
    height: 1.25vw;
    width: 0%;
    background-color: var(--clr-nav-grey-300);
    border-radius: 0.75vw;
    transition: var(--transition);
}

.main-body {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    margin: 4vw 0vw 0vw 0vw
}


/* MAIN BODY CLOSER START */
.main-body.close {
    display: none;
}

.close .up {
    display: none;
}

.close .down {
    display: block;
}
/* MAIN BODY CLOSER END */


.step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    border-radius: 2vw;
    padding: 2vw;
    transition: var(--transition);
}

.step-btn {
    display: flex;
    align-items: center;
    height: 7vw;
    width: 7vw;
    background-color: inherit;
    padding: 0vw;
    margin: 0vw 2vw 0vw 0vw;
    border: none;
    border-radius: 2vw;
    transition: var(--transition);
}

.step-btn svg {
    width: 7vw;
    height: 7vw;
}

.circle {
    display: block;
}

.load {
    animation: rotate 0.5s linear infinite;
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tick {
    display: none;
}


/* STEP BUTTON CLICKED START */
/* Loading animation */
.loading .circle {
    display: none;
}

.loading .load {
    display: block;
}

.loading .tick {
    display: none;
}

/* Loading finishes */
.clicked .circle {
    display: none;
}

.clicked .load {
    display: none;
}

.clicked .tick {
    display: block;
}
/* STEP BUTTON CLICKED END */


.step-main-btn {
    font-weight: 500;
    font-size: 1.085em;
    padding: 1.5vw 0vw;;
    width: 100%;
    text-align: left;
    border: none;
    background-color: inherit;
    color: var(--clr-font-dark);
}

.step-main-body {
    display: flex;
    flex-direction: row;
    justify-content: space between;
    align-items: center;
    margin: 2vw 0vw 0vw 0vw;
    display: none;
    width: 83vw;
}

.step-main-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 0vw 2vw 0vw 0vw;
}

.step-main-text span {
    color: var(--clr-font-mid);
    line-height: 1.6;
}

.step-main-text span span {
    color: var(--clr-state-focused);
    font-family: 1.17em;
    font-weight: 600;
}

.step-main-text button {
    margin: 4vw 0vw 1vw 0vw;
    color: var(--clr-font-light);
    background-color: var(--clr-nav-grey-200);
    box-shadow: 1px 1px 1.5px inset #E3E3E3;
    border: 1.px solid #000000;
    font-size: 1em;
    border-radius: 2vw;
    padding: 2vw 3vw;
}

.import {
    color: var(--clr-font-dark);
    font-weight: 600;
    margin: 0vw 0vw 0vw 5vw
}


/* STEP OPEN START */
.step.show {
    background-color: var(--clr-plain-background)
}
.show .step-main-btn {
    font-weight: 600;
}

.show .step-main-body {
    display: flex;
}
/* STEP OPEN END */