@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --clr-nav-grey-50: #656266;
    --clr-nav-grey-100: #616161;
    --clr-nav-grey-200: #322F33;
    --clr-nav-grey-300: #1C181D;
    --clr-font-light: #E3E3E3;
    --clr-font-mid: #616161;
    --clr-font-dark: #475467;
    --clr-stroke-50: #EBEBEB;
    --clr-stroke-100: hsl(0,0%,93%); /*#000000 7% opacity*/
    --clr-stroke-200: hsl(0,0%,80%); /*#FFFFFF 20% opacity*/
    --clr-state-hover: #F7F7F7;
    --clr-state-pressed: #F0F0F0;
    --clr-state-focused: #005BD3;
    --clr-plain-white: #FFFFFF;
    --clr-plain-background: #F1F1F1;
    --font-family: 'Inter', sans-serif;
    --transition: 0.2s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

button {
    font-family: var(--font-family);
    cursor: pointer;
    transition: var(--transition);
}

button:focus-visible {
    outline: none;
    border: 2px solid var(--clr-state-focused);
    border-radius: 0.5rem;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: var(--transition);
}

a:focus-visible {
    outline: none;
    border: 2px solid var(--clr-state-focused);
    border-radius: 0.5rem;
}

/* MOBILE VIEW */
body {
    background-color: var(--clr-plain-background);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: var(--font-family);
    margin: 0vw;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-nav-grey-300);
    align-items: center;
    padding: 4vw 4vw 2vw 4vw;
    justify-content: space-between;
}

.logo-button {
    margin: 0vw 2vw 0vw 0vw;
    padding: 0vw;
    width: 8vw;
    height: 8vw;
    background-color: inherit;
    background-image: url(https://crushingit.tech/hackathon-assets/shopify-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.search-bar {
    position: relative;
    font-family: var(--font-family);
    background: var(--clr-nav-grey-300) url(https://crushingit.tech/hackathon-assets/icon-search.svg) no-repeat 3vw center;
    background-size: 4vw;
    border: 1px solid var(--clr-nav-grey-200);
    border-radius: 2vw;
    color: var(--clr-font-light);
    font-size: 1em;
    font-weight: 500;
    padding: 2vw 2vw 2vw 10vw;
    width: 54vw;
    cursor: pointer;
}

.search-bar::before {
    content: '';
    position: absolute;
    left: 2vw;
    top: 50%;
    transform: translateY(-50%);
    width: 4vw;
    height: 4vw;
    background: url(https://crushingit.tech/hackathon-assets/icon-search.svg) no-repeat center center;
    background-size: contain;
}

.search-bar::placeholder {
    color: var(--clr-font-mid);
    font-weight: 500;
}

.search-bar:active, .search-bar:focus {
    border: 2px solid var(--clr-plain-white);
}

.notification-and-profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notification-button {
    background-color: inherit;
    border: none;
    padding: 2vw;
    border-radius: 2.5vw;
    margin: 0vw 1vw;
}

.notification-button svg {
    width: 6vw;
    height: 6vw;
}

.notification-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 84vw;
    margin: 6vw 4vw 0vw 4vw;
    padding: 4vw;
    left: 0vw;
    border: 1px solid var(--clr-stroke-100);
    background-color: var(--clr-plain-white);
    border-radius: 4vw;
    display: none;
}

.notification-header {
    width: 84vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 600;
    margin: 2vw 0vw 4vw 0vw;
    align-items: center;
}

.notification-header svg {
    margin: 0vw 0vw 0vw 4vw;
    height: 6vw;
    width: 6vw;
}

.notification-body {
    background-color: var(--clr-plain-background);
    width: 76vw;
    text-align: center;
    font-size: 1.085em;
    font-weight: 600;
    padding: 4vw;
}


/* OPEN NOTIFICATION PANEL START*/
.open .notification-button {
    background-color: var(--clr-nav-grey-200);
}

.open .notification-contents {
    display: flex;
}
/* OPEN NOTIFICATION PANEL END */


.profile-button {
    padding: 0vw;
    border: none;
    font-family: var(--font-family);
    border: 2px solid var(--clr-font-dark);
    padding: 2vw;
    background-color: rgba(54, 251, 161, 1);
    border-radius: 2vw;
    color: hsl(145, 92%, 23%);
    margin: 0vw 0vw 0vw 1vw;
}

.profile-button:focus {
    border: 2px solid var(--clr-state-focused);
}

.long-name {
    display: none;
}

.short-name {
    font-weight: 500;
}

.profile-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 6vw 4vw 0vw 16vw;
    left: 0vw;
    border: 1px solid var(--clr-stroke-100);
    background-color: var(--clr-plain-white);
    border-radius: 4vw;
    font-size: 1.085em;
    display: none;
}

.profile-content-top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--clr-stroke-100);
}

.profile-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
    background-color: var(--clr-plain-background);
    align-items: center;
    border-radius: 3vw;
}

.dc-and-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dc {
    background-color: rgba(54, 251, 161, 1);
    border-radius: 2vw;
    color: hsl(145, 92%, 23%);
    padding: 2vw;
    margin: 1.5vw 3vw;
}

.davii {
    font-weight: 600;
}

.profile-name svg {
    width: 8vw;
    height: 8vw;
    margin: 0vw 2vw 0vw 0vw;
} 

.profile-label-pfp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5vw 3vw;
}

.profile-label-pfp svg {
    width: 7vw;
    height: 7vw;
    margin: 0vw 2vw 0vw 0vw;
}

.profile-content-middle {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--clr-stroke-100);
}

.profile-content-middle a {
    margin: 2vw 0vw 2vw 3vw;
}

.profile-content-bottom {
    display: flex;
    flex-direction: column;
}

.name-and-email {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 4vw 0vw 0vw 3vw;
}

.email {
    font-size: 12px;
    margin: 1vw 0vw 2vw 3vw;
    color: var(--clr-font-mid);
    text-decoration: none
}

.bottom-label {
    margin: 2vw 0vw 3vw 3vw;
}


/* OPEN PROFILE PANEL START*/
.open .profile-contents {
    display: flex;
}
/* OPEN PROFILE PANEL END */


.extend {
    display: flex;
    flex-direction: row;
    margin: 8vw 0vw;
    padding: 4vw;
    background-color: var(--clr-nav-grey-300);
    color: var(--clr-plain-white);
    font-size: 1.085em;
    font-weight: 500; 
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.6;
}

.extend-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.plan-button {
    margin: 4vw 0vw 0vw 0vw;
    font-weight: 500;
    padding: 2vw 3vw;
    border-radius: 1.5vw;
    border: none;
    background-color: var(--clr-plain-background);
    color: var(--clr-font-dark);
    border: 1px solid var(--clr-stroke-200);
    box-shadow: 0px 1px var(--clr-nav-grey-200);
}

.close-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vw;
    margin: 0vw 0vw 0vw 2vw;
    background-color: inherit;
    border: none;
    color: var(--clr-nav-grey-300);
}

.close-button svg {
    height: 6vw;
    width: 6vw;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 4vw 2vw 2vw 2vw;
    background-color: var(--clr-plain-white);
    border: 1px solid var(--clr-stroke-200);
}

.main-header {
    display: flex;
    flex-direction: column;
    padding: 0vw 2vw
}

.setup-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    font-weight: 600;
    font-size: 1.17em;
    align-items: center;
    padding: 0vw 0vw 1vw 0vw;
    background-color: inherit;
    border: none;
}

.direction-icons {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-plain-background);
    border-radius: 0.5rem;
}

.direction-icons svg {
    width: 6vw;
    height: 6vw;
}

.up {
    display: block;
}

.down {
    display: none;
}

.main-header-text {
    font-size: 1.085em;
    color: var(--clr-font-dark)
}

.progress {
    font-size: 1.085em;
    color: var(--clr-font-dark);
    padding: 4vw 0vw 1vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.progress-bar {
    height: 1.25vw;
    width: 20vw;
    background-color: var(--clr-stroke-50);
    margin: 0vw 0vw 0vw 4vw;
    border-radius: 0.75vw;
    transition: var(--transition);
}

.progress-bar-complete {
    height: 1.25vw;
    width: 0%;
    background-color: var(--clr-nav-grey-300);
    border-radius: 0.75vw;
    transition: var(--transition);
}

.main-body {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    margin: 4vw 0vw 0vw 0vw;
    opacity: 1;
    max-height: 1000px;
    transition: opacity var(--transition), max-height var(--transition);
}


/* MAIN BODY CLOSER START */
.main-body.close {
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
}

.close .direction-icons {
    background-color: var(--clr-plain-white);
}

.close .up {
    display: none;
}

.close .down {
    display: block;
}
/* MAIN BODY CLOSER END */


.step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    border-radius: 2vw;
    padding: 2vw;
    transition: var(--transition);
}

.step-button {
    display: flex;
    align-items: center;
    height: 7vw;
    width: 7vw;
    background-color: transparent;
    padding: 0vw;
    margin: 0vw 2vw 0vw 0vw;
    border: none;
    border-radius: 2vw;
    transition: var(--transition);
}

.step-button svg {
    width: 7vw;
    height: 7vw;
}

.circle {
    display: block;
}

.load {
    animation: rotate 0.125s linear infinite;
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tick {
    display: none;
}


/* STEP BUTTON CLICKED START */
/* Loading animation */
.loading .circle {
    display: none;
}

.loading .load {
    display: block;
}

.loading .tick {
    display: none;
}

/* Loading finishes */
.clicked .circle {
    display: none;
}

.clicked .load {
    display: none;
}

.clicked .tick {
    display: block;
}
/* STEP BUTTON CLICKED END */


.step-main-button {
    font-weight: 500;
    font-size: 1.085em;
    padding: 1.5vw 0vw;;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    color: var(--clr-font-dark);
}

.step-main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: opacity var(--transition), max-height var(--transition);
    width: 83vw;
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
}

.step-main-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 0vw 2vw 0vw 0vw;
}

.step-main-text span {
    color: var(--clr-font-mid);
    line-height: 1.6;
}

.step-main-text span span {
    color: var(--clr-state-focused);
    font-family: 1.17em;
    font-weight: 600;
    cursor: pointer;
}

.step-main-text button {
    margin: 4vw 0vw 1vw 0vw;
    color: var(--clr-font-light);
    background-color: var(--clr-nav-grey-200);
    box-shadow: 0px 2px 0px 0px #000000, 0px -1px 0px 1px #666666;
    border: 0px;
    font-size: 1em;
    border-radius: 2vw;
    padding: 2vw 3vw;
    transition: var(--transition);
}

.import {
    color: var(--clr-font-dark);
    font-weight: 600;
    margin: 0vw 0vw 0vw 5vw
}


/* STEP OPEN START */
.step.show {
    background-color: var(--clr-plain-background)
}
.show .step-main-button {
    font-weight: 600;
}

.show .step-main-body {
    display: flex;
    opacity: 1;
    max-height: 1000px;
    margin: 2vw 0vw 0vw 0vw;
}
/* STEP OPEN END */


/* SMALL PC SCREEN VIEW >== 768PX */
@media only screen and (min-width: 768px) {
    .plan-button, .step-main-text button {
        border: 2px solid transparent;
    }

    .plan-button:hover, .plan-button:active {
        background-color: var(--clr-plain-white);
        box-shadow: 0.5vw 0.5vw 1vw inset rgba(0,0,0, 0.1);
    }

    .step-main-text button:hover, .step-main-text button:active {
        background-color: var(--clr-nav-grey-300);
        box-shadow: 0px 2px 0px 0px #000000, 0px -1px 0px 1px #666666;
    }

    .plan-button:focus, .step-main-text button:focus {
        border: 2px solid var(--clr-state-focused);
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1vw 2vw;
    }

    .logo-button {
        margin: 0vw;
        width: 12vw;
        height: 4vw;
        background-image: url(https://crushingit.tech/hackathon-assets/shopify-icon-desktop.svg);
    }

    .search-bar {
        background: var(--clr-nav-grey-300) url('https://crushingit.tech/hackathon-assets/icon-search.svg') no-repeat 1.5vw center;
        background-size: 2vw;
        border-radius: 1vw;
        font-weight: 500;
        padding: 1vw 1vw 1vw 5vw;
        width: 36vw;
        transition: var(--transition);
    }

    .search-bar::before {
        content: '';
        position: absolute;
        left: 1vw;
        top: 50%;
        transform: translateY(-50%);
        width: 2vw;
        height: 2vw;
    }

    .search-bar::placeholder {
        font-size: 1.085em;
    }

    .search-bar:hover {
        border: 1px solid var(--clr-plain-white)
    }

    .search-bar:active,
    .search-bar:focus {
        border: 2px solid var(--clr-plain-white);
    }

    .notification-and-profile-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .notification-button {
        background-color: var(--clr-nav-grey-200);
        border: 2px solid transparent;
        padding: 1vw;
        border-radius: 1vw;
        margin: 0vw;
    }

    .notification-button:hover, .notification-button:active {
        background-color: var(--clr-nav-grey-100);
    }

    .notification-button:focus {
        border: 2px solid var(--clr-state-focused);
    }

    .notification-button svg {
        width: 3vw;
        height: 3vw;
    }

    .notification-contents {
        width: 40vw;
        margin: 2vw 2vw 0vw 54vw;
        padding: 2vw;
        border-radius: 2vw;
        box-shadow: 0.25vw 0.25vw 0.5vw 0.25vw rgba(0, 0, 0, 0.05);
        display: none;
    }

    .notification-header {
        width: 40vw;
        font-size: 1.17em;
        margin: 1vw 0vw 2vw 0vw;
    }

    .notification-header svg {
        margin: 0vw 0vw 0vw 2vw;
        height: 3vw;
        width: 3vw;
    }

    .notification-body {
        width: 36vw;
        font-weight: 600;
        padding: 2vw;
    }

    .profile-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        padding: 0vw;
        background-color: var(--clr-nav-grey-200);
        border-radius: 1vw;
        color: var(--clr-plain-white);
        margin: 0vw 0vw 0vw 1vw;
        font-weight: 500;
        border: 2px solid transparent;
    }

    .profile-button:hover, .profile-button:active {
        background-color: var(--clr-nav-grey-100);
    }

    .profile-button:focus {
        border: 2px solid var(--clr-state-focused);
    }

    .long-name {
        display: flex;
        margin: 0vw 1.25vw;
    }

    .short-name {
        background-color: rgba(54, 251, 161, 1);
        border-radius: 1vw;
        color: hsl(145, 92%, 23%);
        padding: 1.5vw 1vw;
        font-size: 1.085em;
    }

    .profile-contents {
        width: 32vw;
        margin: 2vw 2vw 0vw 66vw;
        left: 0vw;
        border-radius: 2vw;
        box-shadow: 0.25vw 0.25vw 0.5vw 0.25vw rgba(0,0,0, 0.05)
    }

    .profile-name {
        margin: 1vw;
        border-radius: 1.5vw;
    }

    .dc {
        border-radius: 1vw;
        padding: 1vw;
        margin: 0.75vw 1vw;
    }

    .profile-name svg {
        width: 4vw;
        height: 4vw;
        margin: 0vw 1vw 0vw 0vw;
    }

    .profile-label-pfp {
        margin: 0vw 0.5vw;
        padding: 0.75vw 1vw;
        transition: var(--transition);
        border-radius: 0.75vw;
        border: 2px solid transparent;
        cursor: pointer;
    }

    .profile-label-pfp:hover, .profile-label-pfp:active {
        background-color: var(--clr-plain-background);
    }

    .profile-label-pfp:focus {
        border: 2px solid var(--clr-state-focused);
        background-color: var(--clr-plain-white);
    }

    .profile-label-pfp svg {
        width: 3.5vw;
        height: 3.5vw;
        margin: 0vw 1vw 0vw 0vw;
    }

    .profile-content-middle {
        border-bottom: 1px solid var(--clr-stroke-100);
    }

    .profile-content-middle a {
        margin: 0vw 0.5vw;
        padding: 1vw 0vw 1vw 1.5vw;
        border-radius: 0.75vw;
        border: 2px solid transparent;
    }

    .profile-content-middle a:hover, .profile-content-middle a:active {
        background-color: var(--clr-plain-background);
    }

    .profile-content-middle a:focus {
        border: 2px solid var(--clr-state-focused);
        background-color: var(--clr-plain-white);
    }

    .name {
        margin: 2vw 0vw 0vw 1.5vw;
    }

    .email {
        margin: 0.5vw 0vw 1vw 1.5vw;
    }

    .bottom-label {
        margin: 0vw 0.5vw;
        padding: 1vw 0vw 1.5vw 1.5vw;
        border-radius: 0.75vw;
        border: 2px solid transparent;
    }

    .bottom-label:hover, .bottom-label:active {
        background-color: var(--clr-plain-background);
    }

    .bottom-label:focus {
        border: 2px solid var(--clr-state-focused);
        background-color: var(--clr-plain-white);
    }

    .extend {
        margin: 4vw 15vw 0vw 15vw;
        padding: 2vw;
        width: 70vw;
        border-radius: 1vw;
        align-items: center
    }

    .extend-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .plan-button {
        margin: 0vw;
        padding: 1vw 1.5vw;
        border-radius: 0.75vw;
    }

    .close-button svg {
        height: 3vw;
        width: 3vw;
    }

    .main {
        padding: 2vw 1vw 1vw 1vw;
        margin: 2vw 15vw 0vw 15vw;
        width: 72vw;
        border-radius: 1vw;
    }

    .main-header {
        padding: 0vw 1vw;
    }

    .setup-button {
        padding: 0vw 0vw 0.5vw 0vw;
    }

    .direction-icons svg {
        width: 3vw;
        height: 3vw;
    }

    .direction-icons:hover, .direction-icons:active {
        background-color: var(--clr-plain-background);
        border-radius: 0.5rem;
    }

    .progress {
        padding: 2vw 0vw 0.5vw 0vw;
    }

    .progress-bar {
        height: 0.625vw;
        width: 10vw;
        margin: 0vw 0vw 0vw 2vw;
        border-radius: 0.375vw;
    }

    .progress-bar-complete {
        height: 0.625vw;
        width: 0%;
        border-radius: 0.375vw;
    }

    .main-body {
        margin: 2vw 0vw 0vw 0vw;
    }

    .step {
        border-radius: 1vw;
        padding: 1vw;
    }

    .step-button {
        height: 3.5vw;
        width: 3.5vw;
        margin: 0vw 1vw 0vw 0vw;
        border-radius: 1vw;
    }

    .step-button svg {
        width: 3.5vw;
        height: 3.5vw;
    }

    .step-main-button {
        padding: 0.75vw 0vw;
        width: 66.5vw;
    }

    .step-main-body {
        width: 66.5vw;
        margin: none;
    }

    .step-main-text {
        margin: 0vw;
        width: 40vw;
    }

    .step-main-text button {
        margin: 2vw 0vw 0.5vw 0vw;
        border-radius: 1vw;
        padding: 1vw 1.5vw;
    }

    .step-main-image {
        width: 18vw;
        height: 14vw;
        margin: 0vw 3vw 0vw 0vw;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .one {
        background-image: url(https://crushingit.tech/hackathon-assets/customise-store.png);
    }

    .two {
        background-image: url(https://crushingit.tech/hackathon-assets/product.png);
    }

    .three {
        background-image: url(https://crushingit.tech/hackathon-assets/website.png);
    }

    .four {
        background-image: url(https://crushingit.tech/hackathon-assets/name-store.png);
    }

    .five {
        background-image: url(https://crushingit.tech/hackathon-assets/payment.png);
    }

    .import {
        margin: 0vw 0vw 0vw 2.5vw
    }


    /* STEP OPEN START */
    .show .step-main-body {
        margin: 1vw 0vw 0vw 0vw;
    }
    /* STEP OPEN END */
}


/* NORMAL PC SCREEN VIEW >== 1024 */
@media only screen and (min-width: 1024px) {
    .header {
        padding: 1vw 2vw;
    }

    .logo-button {
        margin: 0vw;
        width: 8vw;
        height: 3vw;
        background-image: url(https://crushingit.tech/hackathon-assets/shopify-icon-desktop.svg);
    }

    .search-bar {
        background: var(--clr-nav-grey-300) url('https://crushingit.tech/hackathon-assets/icon-search.svg') no-repeat 1vw center;
        background-size: 1.5vw;
        border-radius: 0.75vw;
        padding: 0.75vw 0.75vw 0.75vw 3.5vw;
        width: 27vw;
    }

    .search-bar::before {
        content: '';
        position: absolute;
        left: 1vw;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5vw;
        height: 1.5vw;
    }

    .notification-button {
        padding: 0.5vw;
        border-radius: 0.75vw;
        margin: 0vw;
    }

    .notification-button svg {
        width: 2vw;
        height: 2vw;
    }

    .notification-contents {
        width: 30vw;
        margin: 2vw 2vw 0vw 66vw;
        padding: 1.5vw;
        border-radius: 1.5vw;
        box-shadow: 0.25vw 0.25vw 0.5vw 0.25vw rgba(0, 0, 0, 0.05);
        display: none;
    }

    .notification-header {
        width: 30vw;
        margin: 0.75vw 0vw 1.5vw 0vw;
    }

    .notification-header svg {
        margin: 0vw 0vw 0vw 1.5vw;
        height: 2vw;
        width: 2vw;
    }

    .notification-body {
        width: 27vw;
        padding: 1.5vw;
    }

    .profile-button {
        border-radius: 0.75vw;
        margin: 0vw 0vw 0vw 0.75vw;
    }

    .long-name {
        display: flex;
        margin: 0vw 0.75vw;
    }

    .short-name {
        border-radius: 0.75vw;
        padding: 0.75vw 0.5vw;
    }

    .profile-contents {
        width: 24vw;
        margin: 2vw 2vw 0vw 74vw;
        left: 0vw;
        border-radius: 1.5vw;
        box-shadow: 0.25vw 0.25vw 0.5vw 0.25vw rgba(0,0,0, 0.05)
    }

    .profile-name {
        margin: 0.75vw;
        border-radius: 1vw;
    }

    .dc {
        border-radius: 0.75vw;
        padding: 0.75vw;
        margin: 0.5vw 0.75vw;
    }

    .profile-name svg {
        width: 3vw;
        height: 3vw;
        margin: 0vw 0.75vw 0vw 0vw;
    }

    .profile-label-pfp {
        margin: 0vw 0.5vw;
        padding: 0.5vw 0.75vw;
        border-radius: 0.5vw;
    }

    .profile-label-pfp svg {
        width: 2.5vw;
        height: 2.5vw;
        margin: 0vw 0.75vw 0vw 0vw;
    }

    .profile-content-middle a {
        margin: 0vw 0.5vw;
        padding: 0.75vw 0vw 0.75vw 1vw;
        border-radius: 0.5vw;
    }

    .name {
        margin: 1.5vw 0vw 0vw 1.5vw;
    }

    .email {
        margin: 0.5vw 0vw 1vw 1.5vw;
    }

    .bottom-label {
        margin: 0vw 0.5vw;
        padding: 0.75vw 0vw 1vw 1vw;
        border-radius: 0.5vw;
    }

    .extend {
        margin: 3vw 20vw 0vw 20vw;
        padding: 1vw 1.5vw;
        width: 57vw;
        border-radius: 0.75vw;
    }

    .plan-button {
        margin: 0vw;
        padding: 0.5vw 0.75vw;
        border-radius: 0.5vw;
    }

    .close-button svg {
        height: 2.25vw;
        width: 2.25vw;
    }

    .main {
        padding: 1.5vw 0.75vw 0.75vw 0.75vw;
        margin: 2vw 20vw 0vw 20vw;
        width: 58.5vw;
        border-radius: 1vw;
    }

    .main-header {
        padding: 0vw 0.75vw;
    }

    .setup-button {
        padding: 0vw 0vw 0.375vw 0vw;
    }

    .direction-icons svg {
        width: 2.5vw;
        height: 2.5vw;
    }

    .progress {
        padding: 1.5vw 0vw 0.375vw 0vw;
    }

    .progress-bar {
        height: 0.5vw;
        width: 8vw;
        margin: 0vw 0vw 0vw 1.5vw;
        border-radius: 0.25vw;
    }

    .progress-bar-complete {
        height: 0.5vw;
        width: 0%;
        border-radius: 0.25vw;
    }

    .main-body {
        margin: 1.5vw 0vw 0vw 0vw;
    }

    .step {
        border-radius: 0.75vw;
        padding: 0.75vw;
    }

    .step-button {
        height: 2.7vw;
        width: 2.7vw;
        margin: 0vw 1vw 0vw 0vw;
        border-radius: 1vw;
    }

    .step-button svg {
        width: 2.7vw;
        height: 2.7vw;
    }

    .step-main-button {
        padding: 0.5vw 0vw;
        width: 54vw;
    }

    .step-main-body {
        width: 54vw;
        margin: none;
    }

    .step-main-text {
        margin: 0vw;
        width: 35vw;
    }

    .step-main-text button {
        margin: 1.5vw 0vw 0.375vw 0vw;
        border-radius: 0.75vw;
        padding: 0.5vw 1vw;
    }

    .step-main-image {
        width: 18vw;
        height: 10vw;
        margin: 0vw 3vw 0vw 0vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }

    .import {
        margin: 0vw 0vw 0vw 2vw
    }


    /* STEP OPEN START */
    .show .step-main-body {
        margin: 0.75vw 0vw 0vw 0vw;
    }
    /* STEP OPEN END */
}